.banner {
    display: flex;
}
.line {
    margin-right: 10px;
    height: 25px;
    border-right: solid dodgerblue 5px;
}
.title {
    color: dodgerblue;
}
.link {
    width: 100%;
    margin-top: 10px;
    border-top: solid #ACC0D8 1px;

}
.input-text {
    background-color: transparent;
    border: 0;
    width: 50%;
}
.input-item {
    margin-top: 20px;
    margin-bottom: 15px;
}
.cal-area{
    display: flex;
    flex-wrap: wrap;
    height: 20px;
    width: 100%;
    margin-bottom: 40px;
}
.area-img {
    height: 30px;
}
.cal-area-item {
    flex: 1;
    background-color: #e5e2e2;
}
.unit-text {
    float: right;
    color: #ACC0D8;
    font-size: 15px;
}
